.logo{
	display: block;
	margin:auto;
	width: 45%;
}
.logo img{
	height:250px;
	width:450px;
	margin:auto;
}
.search{
	display: block;
	margin:auto;
	width: 50%;
	padding: 20px;
}
#search-field{
	margin:auto;
	width: 75%;
}
.submit{
	display: block;
	margin:auto;
	width:50%;
}
#search-button{
	margin-left:20%;
}
#lucky-button{
	margin-right:20%;
}
