a{
	color:rgb(0,0,0);
	text-decoration:none;
}
a:hover{
	color:rgb(0,0,0);
	text-decoration:underline;
}

nav ul{
	list-style-type: none;
	margin:0;
	padding:0;
}
nav li{
	margin:5px;
	display:inline;
}

#left-nav{
	float:left;
}
#right-nav{
	float:right;
}
#nine-square{
	width:20px;
	height:20px;
}
#content{
	padding-top:5%;
}
.logo{
	display: block;
	margin:auto;
	width: 45%;
}
.logo img{
	width:65%;
	margin:auto;
}
.search{
	display: block;
	margin:auto;
	width: 50%;
	padding: 20px;
}
#search-field{
	margin:auto;
	width: 75%;
}
.submit{
	display: block;
	margin:auto;
	width:50%;
}
#search-button{
	margin-left:20%;
}
#lucky-button{
	margin-right:20%;
}
